<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POSLink.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>282A211156384EEE09B694B86E39E5EDE2AD63DC</string>
				<key>dateExpires</key>
				<string>2022/1/13</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S33992F5FD.com.paxsz.posLink</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S33992F5FD</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>S33992F5FD.com.paxsz.posLink</string>
				</array>
			</dict>
			<key>name</key>
			<string>posLinkDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4ba605bc-0357-4bd4-872f-8e0e22c03b0f</string>
				<key>name</key>
				<string>BilliePOSLinkDev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S33992F5FD</string>
				<key>name</key>
				<string>PAX  Technology, Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
